doctype html
html(lang='en')
    head
        title AWS Files storage app
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        style.
            .navbar {
                margin-bottom: 0;
                border-radius: 0;
            }
            footer {
                background-color: #f2f2f2;
                padding: 25px;
            }
        script(src="/files.js")
    body
        nav.navbar.navbar-inverse
            .container-fluid
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#') AWS Files storage app
                #myNavbar.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href='/files') Home
                        li
                            a(href='/upload.html') Upload
                        li
                            a(href='/files') Files
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='#')
                                span.glyphicon.glyphicon-log-in
                                |  Login
        .container
            .row
                .col-md-12
                    h4 Files
                    .table-responsive
                        table#mytable.table.table-bordred.table-striped
                            thead
                                th
                                    input#checkall(type='checkbox')
                                th File Name
                                th Delete
                                th Download
                                th Resize
                                th Rename
                                th Rotate

                            tbody
                                each val, index in files
                                    tr
                                        td
                                            input(type="checkbox" class="cutomCheckbox"   id=val+'_operationRadioButtons')
                                        td=val

                                        td
                                            button.btn.btn-danger.btn-xs(name='deleteButton' id=val + 'button' onclick="deleteButtonClickHandler(this)")
                                                span.glyphicon.glyphicon-trash
                                        td
                                            button.btn.btn-primary.btn-xs(name='downloadButton' onclick="downloadButtonClickHandler(this)" id=val + 'button')
                                                span.glyphicon.glyphicon-download

                                        td
                                            .radio
                                                label
                                                    input(type='radio',  name=index + '_operationRadioButtons'  value='resizeRadio' onclick="operationClickHandle(this)")
                                                    | Resize
                                                    div(id='resizeDiv'+index style="display:none")
                                                        input(type='input' id=index+"resizeImageWidth")
                                                        label X
                                                        input(type='input' id=index+"resizeImageHeight")
                                        td
                                            .radio
                                                label
                                                    input(type='radio', name=index + '_operationRadioButtons'  value='rotateRadio' onclick="operationClickHandle(this)" )
                                                    | Rotate
                                                    div(id='roateDiv'+index style="display:none"  )
                                                        input(type='input' id=index+"rotateImageAngels")
                                                        label angels
                                        td
                                            .radio
                                                label
                                                    input(type='radio', name=index + '_operationRadioButtons', value='negativeRadio'  onclick="operationClickHandle(this)")
                                                    | Negative
            button(id='subbmitt-button' onclick="doButtonClickHandler(this)" class="btn-success") Perform operations
                span.glyphicon.glyphicon-cloud-upload
        footer.container-fluid.text-center
            p AWS Files storage app
